<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />

    <f:section name="Content">
        <h1><f:translate id="LLL:EXT:tea/Resources/Private/Language/locallang_index_mod.xlf:mlang_tabs_tab" /></h1>

        <f:flashMessages />

        <f:if condition="{teas}">
            <f:render section="TeasListing" arguments="{teas: teas}" />
        </f:if>
    </f:section>

    <f:section name="TeasListing">
        <div class="panel panel-default">
            <table class="table table-fit table-striped table-hover">
                <caption align="top"><f:translate id="LLL:EXT:tea/Resources/Private/Language/locallang_index_mod.xlf:listing.caption" /></caption>
                <thead>
                    <tr>
                        <th scope="col"><f:translate id="LLL:EXT:tea/Resources/Private/Language/locallang_index_mod.xlf:tx_tea_domain_model_tea.uid" /></th>
                        <th scope="col"><f:translate id="LLL:EXT:tea/Resources/Private/Language/locallang_db.xlf:tx_tea_domain_model_tea.title" /></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{teas}" as="tea">
                        <tr>
                            <td><be:link.editRecord uid="{tea.uid}" table="tx_tea_domain_model_tea">{tea.uid}</be:link.editRecord></td>
                            <td><be:link.editRecord uid="{tea.uid}" table="tx_tea_domain_model_tea">{tea.title}</be:link.editRecord></td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </div>
    </f:section>
</html>
